.about {
  background-color: $midnight;
  background-image: url("../../img/back-mobile.jpg");
  background-repeat: no-repeat;
}

.about__slogan {
  color: $white;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
}
