.about {
  background-color: $midnight;
  // background-image: url("../../img/back-mobile.jpg");
  background-repeat: no-repeat;
}

.about__wrapper {
  width: 100%;
  padding: 29px 0;

  @media (min-width: $tablet-width) {
    width: 300px;
    padding-top: 102px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 114px;
  }
}

.about__slogan {
  color: $white;
  margin: 0;

  @media (max-width: $tablet-width-only) {
    line-height: 120%;
  }
}
