.about {
  $about-shift: -66px;

  max-height: 1000px;
  background-color: $midnight;
  background-image: url("../img/back-tablet.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: auto 462px;
  position: relative;
  top: $about-shift;
  margin-bottom: $about-shift;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/back-tablet@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    $about-shift: -110px;

    min-height: 600px;
    background-size: cover;
    top: $about-shift;
    margin-bottom: $about-shift;
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/back-desktop.jpg");
    filter: drop-shadow(0 4px 4px rgba($black, 0.25));

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-desktop@2x.jpg");
    }
  }
}

.about__container {
  @media (min-width: $tablet-width) {
    max-width: 800px;
    padding: 0 3%;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    max-width: 940px;
    padding: 0;
  }
}

.about__wrapper {
  padding-top: 90px;
  display: grid;
  grid-template-rows: 1fr min-content;
  justify-items: center;

  @media (min-width: $tablet-width) {
    padding-top: 210px;
    grid-template-columns: 300px 1fr;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    padding-top: 225px;
  }

  &::after {
    content: "";
    display: block;
    width: 320px;
    height: 286px;
    background-image: url("../img/back-screen.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 100%;
    margin-top: 25px;
    grid-row-start: 2;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-screen@2x.png");
    }

    @media (min-width: $tablet-width) {
      width: 100%;
      height: 545px;
      margin: 0;
      position: absolute;
      bottom: 0;
      right: 0;
      background-position-x: center;
    }

    @media (min-width: $desktop-width) {
      height: 645px;
      background-position-x: left;
    }
  }
}

.about__title {
  @media (min-width: $tablet-width) {
    z-index: 10;
    width: 240px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.about__slogan {
  color: $white;

  @media (max-width: $tablet-width-only) {
    line-height: 120%;
  }
}

.about__download {
  @media (min-width: $tablet-width) {
    z-index: 10;
    grid-column-start: 1;
  }
}
