.about {
  background-color: $midnight;
  // background-image: url("../../img/back-mobile.jpg");
  background-repeat: no-repeat;
}

.about__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media (max-width: $mobile-width-only) {
    align-items: center;
  }

  @media (min-width: $tablet-width) {
    width: 620px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
  }
}

.about__header {
  padding: 29px 20px;

  @media (min-width: $tablet-width) {
    width: 300px;
  }
}

.about__slogan {
  color: $white;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  margin: 0;
}

.about__download {
  @media (max-width: $mobile-width-only) {
    align-self: stretch;
  }

  @media (min-width: $tablet-width) {
    width: 300px;
  }
}
