.advantages__top-wrapper {
  padding-top: 46px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding-top: 58px;
    padding-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 77px;
    padding-bottom: 50px;
  }
}

.advantages__intro {
  margin: 0;
}

.advantages__intro--bottom {
  @media (max-width: $mobile-width-only) {
    margin-top: 40px;
  }

  @media (min-width: $tablet-width) {
    max-width: 500px;
  }
}

.advantages__bottom-wrapper {
  // background-color: $white-smoke;
  background-image: url("../../img/grey-background.svg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  padding-top: 100px;

  @media (min-width: $tablet-width) {
    padding-top: 10px;
  }
}

.advantages__list {
  @include list-reset;
  display: grid;
  justify-items: center;
  position: relative;

  &::after {
    content: "";
    width: 157px;
    height: 277px;
    background-image: url("../../img/advantage-tablet.png");
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-width: $tablet-width) {
      width: 268px;
      height: 482px;
      grid-row-start: 1;
      grid-row-end: 5;
      grid-column-start: 1;
      grid-column-end: 2;
    }

    @media (min-width: $desktop-width) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    grid-template-columns: 268px 1fr;
    column-gap: 42px;
    justify-items: left;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    justify-items: center;
  }
}

.advantages__item {
  text-align: center;
  position: relative;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    text-align: left;
    grid-column-start: 2;
    grid-column-end: 3;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
    grid-column-start: auto;
    grid-column-end: auto;
  }

  &--mood {
    @media (min-width: $tablet-width) {
      grid-row-start: 2;
    }

    @media (min-width: $desktop-width) {
      grid-row-start: auto;
    }

    &::before {
      @media (min-width: $desktop-width) {
        background-image: url("../../img/shadow.png"), url("../../img/advantage-1.png");
      }
    }
  }

  &--change {
    @media (min-width: $tablet-width) {
      grid-row-start: 3;
    }

    @media (min-width: $desktop-width) {
      grid-row-start: auto;
    }

    &::before {
      @media (min-width: $desktop-width) {
        background-image: url("../../img/shadow.png"), url("../../img/advantage-2.png");
      }
    }
  }

  &--friends {
    @media (min-width: $tablet-width) {
      grid-row-start: 4;
    }

    @media (min-width: $desktop-width) {
      grid-row-start: auto;
    }

    &::before {
      @media (min-width: $desktop-width) {
        background-image: url("../../img/shadow.png"), url("../../img/advantage-3.png");
      }
    }
  }

  &::before {
    @media (min-width: $desktop-width) {
      content: "";
      display: block;
      height: 301px;
      background-repeat: no-repeat;
      background-position: 0 105%, center top;
      margin-bottom: 59px;
    }
  }
}

.advantages__title {
  color: $black;
  font-size: 18px;
  margin: 0;
  margin-bottom: 14px;

  @media (min-width: $desktop-width) {
    font-size: 30px;
    margin-bottom: 25px;
  }
}

.advantages__description {
  margin: 0;

  @media (min-width: $desktop-width) {
    max-width: 252px;
    margin: 0 auto;
  }
}
