.advantages__top-wrapper {
  padding-top: 41px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding-top: 47px;
    padding-bottom: 29px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 62px;
    padding-bottom: 51px;
  }
}

.advantages__intro {
  margin: 0;
}

.advantages__intro--bottom {
  @media (max-width: $mobile-width-only) {
    margin-top: 32px;
  }

  @media (min-width: $tablet-width) {
    max-width: 500px;
  }
}

.advantages__bottom-wrapper {
  background-color: $white-smoke;
  padding-top: 82px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding-top: 5px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 6px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 33px;
    background-color: $white;
    top: 0;
    left: 0;
    clip-path: polygon(100% 0, 0 100%, 0 0);

    @media (min-width: $tablet-width) {
      height: 45px;
    }

    @media (min-width: $desktop-width) {
      height: 100px;
    }
  }
}

.advantages__list {
  @include list-reset;
  display: grid;
  justify-items: center;
  position: relative;

  &::after {
    content: "";
    width: 157px;
    height: 277px;
    background-image: url("../img/advantage-tablet.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 11px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/advantage-tablet@2x.png");
    }

    @media (min-width: $tablet-width) {
      width: 268px;
      height: 482px;
      grid-row-start: 1;
      grid-row-end: 5;
      grid-column-start: 1;
      grid-column-end: 2;
      margin: 0;
    }

    @media (min-width: $desktop-width) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    grid-template-columns: 268px 1fr;
    column-gap: 42px;
    justify-items: left;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    justify-items: center;
  }
}

.advantages__item {
  text-align: center;
  position: relative;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    text-align: left;
    grid-column-start: 2;
    grid-column-end: 3;
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
    grid-column-start: auto;
    grid-column-end: auto;
  }

  &--mood {
    @media (min-width: $tablet-width) {
      grid-row-start: 2;
    }

    @media (min-width: $desktop-width) {
      grid-row-start: auto;
    }

    &::before {
      @media (min-width: $desktop-width) {
        background-image: url("../img/advantage-1.png");

        @media (min-resolution: 2dppx) {
          background-image: url("../img/advantage-1@2x.png");
          background-size: 300px 382px;
        }
      }
    }
  }

  &--change {
    @media (min-width: $tablet-width) {
      grid-row-start: 3;
    }

    @media (min-width: $desktop-width) {
      grid-row-start: auto;
    }

    &::before {
      @media (min-width: $desktop-width) {
        background-image: url("../img/advantage-2.png");

        @media (min-resolution: 2dppx) {
          background-image: url("../img/advantage-2@2x.png");
          background-size: 300px 382px;
        }
      }
    }
  }

  &--friends {
    @media (min-width: $tablet-width) {
      grid-row-start: 4;
    }

    @media (min-width: $desktop-width) {
      grid-row-start: auto;
    }

    &::before {
      @media (min-width: $desktop-width) {
        background-image: url("../img/advantage-3.png");

        @media (min-resolution: 2dppx) {
          background-image: url("../img/advantage-3@2x.png");
          background-size: 300px 382px;
        }
      }
    }
  }

  &::before {
    @media (min-width: $desktop-width) {
      content: "";
      display: block;
      height: 301px;
      background-repeat: no-repeat;
      background-position: center top;
      margin-bottom: 56px;
    }
  }
}

.advantages__title {
  color: $black;
  font-size: 18px;
  margin: 0;
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    margin-bottom: 10px;
  }

  @media (min-width: $desktop-width) {
    font-size: 30px;
    margin-bottom: 22px;
  }

  br {
    @include hidden-on-tablet;
  }
}

.advantages__description {
  margin: 0;

  @media (min-width: $desktop-width) {
    max-width: 249px;
    margin: 0 auto;
  }

  br {
    @include hidden-on-mobile;
    @include hidden-on-desktop;
  }
}
