.advantages {
  background-color: $white-smoke;
}

.advantages__header {
  background-color: $white;
}

.advantages__top-wrapper {
  padding-top: 46px;
  padding-bottom: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages__intro {
  margin: 0;
}

.advantages__intro--bottom {
  @media (max-width: $mobile-width-only) {
    margin-top: 40px;
  }

  @media (min-width: $tablet-width) {
    width: 70%;
  }
}

.advantages__bottom-wrapper {
  padding: 53px 0;
}

.advantages__list {
  @include list-reset;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    align-items: flex-end;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.advantages__item {
  max-width: 280px;
  text-align: center;
  margin-bottom: 43px;

  @media (min-width: $tablet-width) {
    max-width: 310px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    max-width: 252px;
    text-align: center;
  }
}

.advantages__title {
  color: $black;
  font-size: 18px;
  margin: 0;
  margin-bottom: 24px;
}

.advantages__description {
  margin: 0;
}
