.advantages {
  background-color: $white-smoke;
}

.advantages__header {
  background-color: $white;
}

.advantages__top-wrapper {
  padding-top: 46px;
  padding-bottom: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages__intro {
  margin: 0;
}

.advantages__intro--bottom {
  @media (max-width: $mobile-width-only) {
    margin-top: 40px;
  }

  @media (min-width: $tablet-width) {
    max-width: 500px;
  }
}

.advantages__bottom-wrapper {
  padding: 53px 0;
}

.advantages__list {
  @include list-reset;
  display: grid;
  row-gap: 43px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    justify-items: center;
  }
}

.advantages__item {
  text-align: center;

  @media (min-width: $tablet-width) {
    text-align: left;
    grid-column-start: 2;
    grid-column-end: 3;
  }

  @media (min-width: $desktop-width) {
    max-width: 252px;
    text-align: center;
    grid-column-start: auto;
    grid-column-end: auto;
  }
}

.advantages__title {
  color: $black;
  font-size: 18px;
  margin: 0;
  margin-bottom: 24px;
}

.advantages__description {
  margin: 0;
}
