.app {
  @media (min-width: $tablet-width) {
    grid-row-start: 2;
    grid-row-end: 3;
  }

  @media (min-width: $desktop-width) {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
  }
}

.app__list {
  @include list-reset;

  @media (max-width: $mobile-width-only) {
    width: 280px;
    margin: 0 auto;
  }
}

.app__item:not(:first-child) {
  margin-top: 34px;
}
