.button {
  font-family: inherit;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  min-width: 280px;
  border: 3px solid;
  border-radius: 33px;
  padding: 18px;
  box-sizing: border-box;
  cursor: pointer;
}
