.button {
  font-family: inherit;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  min-width: 280px;
  border: 3px solid;
  border-radius: 39px;
  padding: 15px;
  box-sizing: border-box;

  @media (min-width: $desktop-width) {
    cursor: pointer;
  }
}
