.contacts__wrapper {
  padding-top: 47px;

  @media (min-width: $tablet-width) {
    padding-top: 55px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 74px;
  }
}

.contacts__intro {
  margin-bottom: 45px;

  @media (min-width: $tablet-width) {
    max-width: 500px;
  }
}

.contacts__list {
  display: grid;
  justify-items: center;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    column-gap: 90px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.contacts__item {
  width: 241px;
  text-align: center;
}

.contacts__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 13px;
}

.contacts__text {
  color: $cerise;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  margin: 0;
  margin-bottom: 31px;
}

.contacts__link {
  color: inherit;
  text-decoration: none;
}

.contacts__item--mail {
  @media (min-width: $desktop-width) {
    order: 1;
  }
}

.contacts__item--address {
  @media (min-width: $tablet-width) {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  @media (min-width: $desktop-width) {
    grid-column-start: 2;
    grid-column-end: 3;
  }
}
