.container {
  min-width: 280px;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    min-width: 620px;
    padding: 0 20px;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
    padding: 0;
    margin: 0 auto;
  }
}
