.contacts__intro {
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
}

.contacts__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
}

.contacts__text {
  color: $cerise;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
}

.contacts__link {
  color: inherit;
  text-decoration: none;
}
