.contacts__wrapper {
  padding-top: 47px;

  @media (min-width: $tablet-width) {
    padding-top: 55px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 74px;
  }
}

.contacts__intro {
  margin: 0;
  margin-bottom: 45px;

  @media (min-width: $tablet-width) {
    width: 77%;
    margin-left: auto;
    margin-right: auto;
  }
}

.contacts__list {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    align-items: flex-start;
  }
}

.contacts__item {
  width: 241px;
  text-align: center;
}

.contacts__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 13px;
}

.contacts__text {
  color: $cerise;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  margin: 0;
  margin-bottom: 31px;
}

.contacts__link {
  color: inherit;
  text-decoration: none;
}

.contacts__item--mail {
  @media (min-width: $desktop-width) {
    order: 1;
  }
}

.contacts__item--address {
  @media (min-width: $tablet-width) {
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}
