.container {
  min-width: 280px;
  padding: 0 6%;

  @media (min-width: $tablet-width) {
    max-width: 940px;
    padding: 0 3%;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
    padding: 0;
  }
}
