.contacts__wrapper {
  padding-top: 42px;
  padding-bottom: 17px;

  @media (min-width: $tablet-width) {
    padding-top: 44px;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 59px;
    margin-bottom: -20px;
    position: relative;
    z-index: 2;
  }
}

.contacts__intro {
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    max-width: 500px;
    margin-bottom: 33px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 37px;
  }
}

.contacts__list {
  display: grid;
  justify-items: center;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 18px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.contacts__item {
  width: 241px;
  text-align: center;
}

.contacts__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
}

.contacts__text {
  color: $cerise;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  margin: 0;
  margin-bottom: 17px;

  @media (min-width: $tablet-width) {
    margin-top: 2px;
    margin-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 18px;
    margin-bottom: 0;
  }
}

.contacts__link {
  color: inherit;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $midnight;
    text-decoration: underline;
  }

  &:active {
    text-decoration: none;
    opacity: 0.3;
  }
}

.contacts__item--mail {
  @media (min-width: $desktop-width) {
    order: 1;
  }
}

.contacts__item--address {
  @media (min-width: $tablet-width) {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  @media (min-width: $desktop-width) {
    grid-column-start: 2;
    grid-column-end: 3;
  }
}

.contacts__map {
  height: 200px;
  position: relative;

  @media (min-width: $tablet-width) {
    height: 374px;
  }

  @media (min-width: $desktop-width) {
    height: 541px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 32px;
    background-color: $white;
    clip-path: polygon(100% 0, 50% 100%, 0 0);
    z-index: 1;

    @media (min-width: $tablet-width) {
      height: 67px;
    }

    @media (min-width: $desktop-width) {
      height: 141px;
    }
  }
}
