.download {
  color: $white;

  @media (max-width: $mobile-width-only) {
    background-color: $blue-charcoal;
    width: 100%;
  }
}

.download__wrapper {
  padding: 28px 6% 31px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding: 0;
    padding-top: 30px;
    padding-bottom: 110px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 45px;
    padding-bottom: 125px;
  }
}

.download__button {
  color: $white;
  background-color: transparent;
  border-color: $white;
  margin-bottom: 20px;

  &:hover {
    color: $cerise;
    background-color: $white;
  }

  &:active {
    color: rgba($cerise, 0.3);
  }

  @media (min-width: $tablet-width) {
    width: 100%;
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    font-size: 21px;
    margin-bottom: 50px;
  }
}

.download__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.download__link {
  display: block;
  margin: 17px;
  background-repeat: no-repeat;
  background-position: center;

  &--ios {
    width: 47px;
    height: 56px;
    background-image: url("../img/apple-logo.svg");
  }

  &--android {
    width: 43px;
    height: 47px;
    background-image: url("../img/android-logo.svg");
  }

  &--windows {
    width: 44px;
    height: 41px;
    background-image: url("../img/microsoft-logo.svg");
  }
}

.download__legend {
  color: $white;
  font-weight: 300;
  text-align: center;
  margin: 0;
  margin-top: 20px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    margin-top: 30px;
  }
}
