.download {
  color: $white;

  @media (max-width: $mobile-width-only) {
    background-color: $blue-charcoal;
  }
}

.download__wrapper {
  width: 100%;
  padding-top: 28px;
  padding-bottom: 38px;

  @media (min-width: $tablet-width) {
    width: 300px;
  }
}

.download__button {
  margin-bottom: 38px;
}

.download__list {
  @include list-reset;
}

.download__legend {
  color: $white;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  margin: 0;
  margin-top: 31px;
}
