.effects {
  padding: 0;
  margin: 0;
  border: none;
}

.effects__wrapper {
  padding-top: 2px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: min-content min-content;
    margin-top: -16px;
  }
}

.effects__toggles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    justify-content: space-around;
  }
}

.effects__toggle {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0 18px;
  cursor: pointer;

  &:hover,
  &:focus {
    .effects__icon path {
      fill: rgba($midnight, 0.5);
    }
  }

  &--active {
    @media (max-width: $mobile-width-only) {
      .effects__icon path {
        fill: $cerise;
      }
    }
  }

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.effects__icon {
  @media (min-width: $tablet-width) {
    &--crop {
      width: 22px;
      height: 22px;
    }

    &--fill {
      width: 24px;
      height: 22px;
    }

    &--contrast {
      width: 16px;
      height: 16px;
    }
  }

  @media (min-width: $desktop-width) {
    &--crop {
      width: initial;
      height: initial;
    }

    &--fill {
      width: initial;
      height: initial;
    }

    &--contrast {
      width: initial;
      height: initial;
    }
  }
}

.effects__icon path {
  @media (max-width: $mobile-width-only) {
    fill: rgba($midnight, 0.3);
  }
}

.effects__list {
  @include list-reset;
}

.effects__item {
  @media (max-width: $mobile-width-only) {
    display: none;

    &--active {
      display: list-item;
    }
  }

  &::after {
    content: "";
    height: 1px;
    background-color: rgba($midnight, 0.1);
    display: block;

    @media (max-width: $mobile-width-only) {
      @include container-reset;
    }

    @media (min-width: $tablet-width) {
      margin-left: -29px;
    }

    @media (min-width: $desktop-width) {
      margin-left: -48px;
    }
  }

  &:last-of-type {
    @media (min-width: $desktop-width) {
      &::after {
        display: none;
      }
    }
  }
}
