.field {
  border: none;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    border: 2px solid $whisper;
    border-radius: 3px;
    padding: 47px 60px 53px;
  }

  @media (min-width: $desktop-width) {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.field__legend {
  color: $cerise;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;

  @media (max-width: $mobile-width-only) {
    margin-bottom: 22px;
  }
}

.field__label {
  font-size: 18px;
  line-height: 30px;
  cursor: pointer;
}

.field__label--pink {
  color: $cerise;
  font-size: 14px;
  text-transform: uppercase;
}

.field__input {
  color: $midnight;
  font-family: inherit;
  font-size: 18px;
  line-height: 30px;
  border: 2px solid $whisper;
  border-radius: 3px;
  padding: 23px 20px;

  &::placeholder {
    color: $midnight;
  }
}

.field--grey-bg {
  @media (max-width: $mobile-width-only) {
    background-color: $white-smoke;
    padding: 20px 0 42px;

    @include container-reset;
  }
}

.field__legend--mobile-hidden {
  @include hidden-on-mobile;
}
