.field {
  display: flex;
  flex-direction: column;

  &--column {
    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: min-content 1fr;
      column-gap: 19px;
      align-items: center;

      .field__text--pink {
        padding: 0;
      }
    }
  }

  &--reverse {
    @media (max-width: $mobile-width-only) {
      margin-top: -4px;
    }

    @media (min-width: $tablet-width) {
      flex-direction: column-reverse;

      .field__text--pink {
        padding: 0 19px;
        padding-top: 9px;
        margin-bottom: -5px;
      }
    }
  }
}

.field__text {
  font-size: 18px;
  line-height: 30px;
  cursor: pointer;

  &--pink {
    color: $cerise;
    font-size: 14px;
    text-transform: uppercase;
    padding: 0 24px;
    padding-bottom: 4px;
  }
}

.field__input {
  width: 100%;
  color: $midnight;
  font-family: inherit;
  font-size: 18px;
  line-height: 30px;
  border: 2px solid $whisper;
  border-radius: 3px;
  padding: 15px 21px;
  box-sizing: border-box;

  &:hover,
  &:focus {
    border-color: $midnight;
  }

  &:focus {
    outline: 0;
    border-color: $cerise;
  }

  &::placeholder {
    color: $midnight;
  }

  &--fix-height {
    min-height: 201px;
    resize: none;

    @media (min-width: $tablet-width) {
      min-height: 193px;
      margin-top: -5px;
    }

    @media (min-width: $desktop-width) {
      min-height: 129px;
      margin-top: -10px;
      margin-bottom: -8px;
    }
  }
}

.field__checkbox {
  @include visually-hidden;
}

.field__checkbox + .field__text {
  display: flex;
  align-items: center;
  padding: 5px 0;
  cursor: pointer;
  user-select: none;

  @media (min-width: $tablet-width) {
    padding-top: 4px;
    padding-bottom: 6px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }

  &::before {
    content: "";
    display: block;
    width: 35px;
    height: 35px;
    background-color: $white;
    border: 2px solid $whisper;
    border-radius: 3px;
    margin-right: 21px;
  }

  &:hover {
    &::before {
      border-color: $midnight;
    }
  }

  &:active {
    &::before {
      border-color: $cerise;
    }
  }
}

.field__checkbox:focus + .field__text::before {
  border-color: $midnight;
}

.field__checkbox:checked + .field__text {
  &::before {
    background-image: url("../img/tick.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.field__radio {
  @include visually-hidden;
}

.field__radio + .field__text {
  display: flex;
  align-items: center;
  padding: 1px 0;
  cursor: pointer;
  user-select: none;

  @media (min-width: $desktop-width) {
    padding: 1px 14px;
  }

  &::before {
    content: "";
    display: block;
    width: 37px;
    height: 37px;
    background-color: $white;
    border: 2px solid $whisper;
    border-radius: 50%;
    margin-right: 30px;

    @media (min-width: $tablet-width) {
      margin-right: 20px;
    }
  }

  &:hover {
    &::before {
      border-color: $midnight;
    }
  }

  &:active {
    &::before {
      border-color: $cerise;
    }
  }
}

.field__radio:focus + .field__text::before {
  border-color: $midnight;
}

.field__radio:checked + .field__text {
  &::before {
    background: radial-gradient(closest-side, $cerise 7px, $white 8px);
    box-shadow: inset 0 0 0 11px $white;
  }
}

.field__phone {
  @media (min-width: $tablet-width) {
    background-image: url("../img/phone-icon.svg"), linear-gradient(to left, $whisper 59px, $white 59px);
    background-repeat: no-repeat;
    background-position: calc(100% - 19px) center, center;
    padding-right: 79px;
  }
}

.field__email {
  @media (min-width: $tablet-width) {
    background-image: url("../img/mail-icon.svg"), linear-gradient(to left, $whisper 59px, $white 59px);
    background-repeat: no-repeat;
    background-position: calc(100% - 20px) center, center;
    padding-right: 79px;
  }
}
