.form__container {
  display: grid;
  row-gap: 44px;

  @media (min-width: $tablet-width) {
    row-gap: 70px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr;
    column-gap: 70px;
  }
}

.form__group {
  @media (min-width: $tablet-width) {
    border: 2px solid $whisper;
    border-radius: 3px;
    padding: 50px 60px;
    position: relative;
  }

  &--grey-bg {
    @media (max-width: $mobile-width-only) {
      background-color: $white-smoke;

      @include container-reset;

      .form__legend {
        padding: 40px 6%;
        padding-bottom: 0;
      }

      .form__wrapper {
        padding: 35px 6%;
        padding-top: 20px;
      }
    }
  }

  &--no-border {
    @media (min-width: $tablet-width) {
      border: none;
      padding: 0;
      position: static;

      .form__wrapper {
        row-gap: 55px;
      }
    }

    @media (min-width: $desktop-width) {
      margin-top: auto;
    }
  }
}

.form__column {
  @media (min-width: $tablet-width) {
    order: -2;
  }
}

.form__row {
  @media (min-width: $desktop-width) {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  &--two {
    @media (min-width: $tablet-width) {
      order: -1;
    }

    @media (min-width: $desktop-width) {
      .form__wrapper {
        grid-template-columns: 1fr 1fr;
        column-gap: 70px;
      }
    }
  }

  &--three {
    @media (min-width: $desktop-width) {
      .form__wrapper {
        grid-template-columns: repeat(3, max-content);
        grid-template-rows: repeat(2, 1fr);
        grid-auto-flow: column;
        row-gap: 35px;
        column-gap: 54px;
      }
    }
  }
}

.form__legend {
  color: $cerise;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;

  @media (max-width: $mobile-width-only) {
    margin-bottom: 22px;
  }

  &--mobile-hidden {
    @include hidden-on-mobile;
  }

  @media (min-width: $tablet-width) {
    position: absolute;
    top: -19px;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
    max-width: 70%;
    background-color: $white;
    padding: 10px 31px;
  }

  @media (min-width: $desktop-width) {
    max-width: 80%;
  }
}

.form__wrapper {
  display: grid;
  row-gap: 30px;
}

.form__controls {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.form__submit {
  color: $white;
  line-height: 30px;
  text-transform: uppercase;
  background-color: $medium-sea-green;
  border-color: $medium-sea-green;
  border-radius: 3px;
  padding: 14px;

  &:hover {
    background-color: $eucalyptus;
    border-color: $eucalyptus;
  }

  &:active {
    color: rgba($white, 0.3);
  }

  &:disabled {
    background-color: $whisper;
    border-color: $whisper;
  }

  @media (min-width: $tablet-width) {
    width: 300px;
  }
}

.form__clarify {
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
  margin-top: 33px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    font-size: 14px;
  }
}

.form__clarify-hidden {
  @include hidden-on-tablet;
}

.form__clarify-mark {
  color: $cerise;
}
