.form__container {
  display: grid;
  row-gap: 36px;
  padding-bottom: 17px;

  @media (min-width: $tablet-width) {
    row-gap: 65px;
    padding-bottom: 48px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr;
    column-gap: 70px;
    padding-bottom: 0;
  }
}

.form__group {
  @media (min-width: $tablet-width) {
    border: 2px solid $whisper;
    border-radius: 3px;
    padding: 50px 58px;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    padding: 51px 58px;
  }

  &--grey-bg {
    @media (max-width: $mobile-width-only) {
      background-color: $white-smoke;
      margin-top: 5px;
      margin-bottom: 2px;

      @include container-reset;

      .form__legend {
        padding: 40px 11%;
        padding-bottom: 0;
      }

      .form__wrapper {
        row-gap: 33px;
        padding: 38px 6%;
        padding-top: 18px;
      }
    }
  }

  &--no-border {
    @media (min-width: $tablet-width) {
      border: none;
      padding: 0;
      position: static;

      .form__wrapper {
        row-gap: 51px;
      }
    }

    @media (min-width: $desktop-width) {
      margin-top: auto;
    }
  }
}

.form__column {
  @media (min-width: $tablet-width) {
    order: -2;
  }
}

.form__row {
  @media (min-width: $desktop-width) {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  &--two {
    @media (min-width: $tablet-width) {
      order: -1;
      padding-top: 45px;
      padding-bottom: 32px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 42px;
      padding-bottom: 18px;

      .form__wrapper {
        grid-template-columns: 1fr 1fr;
        column-gap: 70px;
      }
    }
  }

  &--three {
    @media (min-width: $tablet-width) {
      padding-bottom: 43px;
    }

    @media (min-width: $desktop-width) {
      padding-bottom: 56px;

      .form__wrapper {
        grid-template-columns: repeat(3, max-content);
        grid-template-rows: repeat(2, 1fr);
        grid-auto-flow: column;
        row-gap: 43px;
        column-gap: 55px;
      }
    }
  }
}

.form__legend {
  color: $cerise;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;

  @media (max-width: $mobile-width-only) {
    margin-bottom: 15px;
  }

  &--mobile-hidden {
    @include hidden-on-mobile;
  }

  @media (min-width: $tablet-width) {
    position: absolute;
    top: -19px;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
    max-width: 70%;
    background-color: $white;
    padding: 10px 32px;
  }

  @media (min-width: $desktop-width) {
    max-width: 80%;
  }
}

.form__wrapper {
  display: grid;
  row-gap: 17px;

  @media (min-width: $tablet-width) {
    row-gap: 33px;
  }
}

.form__controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 12px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2px;
  }

  @media (min-width: $desktop-width) {
    grid-column-start: 1;
    grid-column-end: 3;
    margin: 0;
  }
}

.form__submit {
  color: $white;
  line-height: 30px;
  text-transform: uppercase;
  background-color: $medium-sea-green;
  border-color: $medium-sea-green;
  border-radius: 3px;
  padding: 14px;

  &:hover,
  &:focus {
    background-color: $eucalyptus;
    border-color: $eucalyptus;
  }

  &:active {
    color: rgba($white, 0.3);
  }

  &:disabled {
    background-color: $whisper;
    border-color: $whisper;
  }

  @media (min-width: $tablet-width) {
    width: 300px;
  }
}

.form__clarify {
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
  margin-top: 33px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    font-size: 14px;
  }
}

.form__clarify-hidden {
  @include hidden-on-tablet;
}

.form__clarify-mark {
  color: $cerise;
}
