.gallery__list {
  @include list-reset;
  display: grid;
  gap: 19px;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 50px;
  }
}

.gallery__item {
  background-color: $white-smoke;

  &--of-the-day {
    @media (min-width: $tablet-width) {
      grid-column-start: 1;
      grid-column-end: 3;
      margin-bottom: 31px;
    }

    @media (min-width: $desktop-width) {
      grid-column-start: 1;
      grid-column-end: 4;
      margin-bottom: 0;
    }
  }
}
