.header {
  background-color: rgba($black, 0.3);
  color: $white;
}

.header__wrapper {
  padding: 21px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    padding: 27px 20px 43px;
  }
}

.header__logo {
  height: 23px;

  @media (min-width: $tablet-width) {
    height: 40px;
  }
}
