.header {
  background-color: rgba($black, 0.3);
  color: $white;
  position: relative;
  z-index: 10;

  @media (max-width: $tablet-width-only) {
    &--menu-opened {
      background-color: $midnight;
    }
  }
}

.header__container {
  @media (min-width: $desktop-width) {
    width: 940px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 147px 1fr;
    column-gap: 80px;
    align-items: center;
  }
}

.header__wrapper {
  min-width: 280px;
  height: 66px;
  padding: 0 6%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    max-width: 940px;
    height: 110px;
    padding: 0 3%;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.header__logo {
  &:hover,
  &:focus {
    color: $cerise;
  }

  &:active {
    color: $white;
    opacity: 0.3;
  }
}

.header__logo-image {
  display: block;
  width: 74px;

  @media (min-width: $tablet-width) {
    width: 145px;
    margin-bottom: 15px;
  }

  @media (min-width: $desktop-width) {
    width: 147px;
  }

  &--mobile {
    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &--tablet {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
    }

    @media (min-width: $desktop-width) {
      display: none;
    }
  }

  &--desktop {
    display: none;

    @media (min-width: $desktop-width) {
      display: block;
    }
  }
}

.header__menu-toggle {
  display: block;
  position: relative;
  width: 50px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;

  @media (min-width: $desktop-width) {
    display: none;
  }
}

@media (max-width: $tablet-width-only) {
  .header__menu-toggle--closed {
    &::before {
      content: "";
      position: absolute;
      right: 0;
      width: 50px;
      height: 4px;
      background-color: $white;
      border-radius: 1px;
      box-shadow: 0 -10px 0 0 $white, 0 10px 0 0 $white;
    }

    &:hover,
    &:focus {
      &::before {
        background-color: $cerise;
        box-shadow: 0 -10px 0 0 $cerise, 0 10px 0 0 $cerise;
      }
    }

    &:active {
      &::before {
        opacity: 0.3;
      }
    }
  }

  .header__menu-toggle--opened {
    &::before,
    &::after {
      content: "";
      position: absolute;
      right: 0;
      width: 30px;
      height: 3px;
      background-color: $white;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }

    &:hover,
    &:focus {
      &::before,
      &::after {
        background-color: $cerise;
      }
    }

    &:active {
      &::before,
      &::after {
        opacity: 0.3;
      }
    }
  }

  .header__menu-toggle--nojs {
    display: none;
  }
}
