.header {
  background-color: rgba($black, 0.3);
  color: $white;
}

.header__wrapper {
  display: grid;
  grid-template-rows: 66px;
  grid-template-columns: 1fr 50px;
  column-gap: 30%;

  @media (min-width: $tablet-width) {
    grid-template-rows: 110px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 147px 620px;
    column-gap: 173px;
  }
}

.header__logo {
  height: 23px;
  align-self: center;

  @media (min-width: $tablet-width) {
    height: 40px;
  }
}

.header__menu-toggle {
  @media (min-width: $desktop-width) {
    display: none;
  }
}
