.img-upload__header {
  padding-top: 49px;
  padding-bottom: 52px;

  @media (min-width: $tablet-width) {
    padding-top: 73px;
    padding-bottom: 78px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 67px;
    padding-bottom: 75px;
  }
}

.img-upload__form {
  background-color: $white-smoke;

  @media (min-width: $desktop-width) {
    background-color: $white;
  }
}

.img-upload__wrapper {
  padding-top: 20px;
  padding-bottom: 41px;

  @media (min-width: $tablet-width) {
    padding-top: 57px;
    padding-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    background-color: $white-smoke;
    padding: 57px 60px 57px 80px;
  }
}
