.img-upload__header {
  padding-top: 49px;
  padding-bottom: 52px;

  @media (min-width: $tablet-width) {
    padding-top: 73px;
    padding-bottom: 78px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 67px;
    padding-bottom: 75px;
  }
}

.img-upload__form {
  background-color: $white-smoke;

  @media (min-width: $desktop-width) {
    background-color: $white;
  }
}

.img-upload__wrapper {
  padding-top: 20px;
  padding-bottom: 41px;

  @media (min-width: $tablet-width) {
    padding-top: 57px;
    padding-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    background-color: $white-smoke;
    padding: 57px 60px 57px 80px;
  }
}

.img-upload__preview-container {
  display: grid;
  row-gap: 40px;
  justify-items: center;
}

.img-upload__preview-img {
  vertical-align: bottom;
}

.img-upload__controls {
  display: grid;
  row-gap: 12px;
  justify-items: center;
}

.img-upload__button {
  padding: 15px;
  max-width: 280px;

  &--submit {
    color: $cerise;
    border-color: $cerise;

    &:hover {
      color: $white;
      background-color: $cerise;
    }

    &:active {
      color: rgba($white, 0.3);
    }
  }

  &--cancel {
    color: rgba($midnight, 0.1);
    border-color: rgba($midnight, 0.1);

    &:hover {
      color: rgba($midnight, 0.3);
      border-color: rgba($midnight, 0.3);
    }

    &:active {
      color: rgba($white, 0.3);
      background-color: rgba($midnight, 0.3);
    }
  }
}
