.img-upload__header {
  padding-top: 43px;
  padding-bottom: 42px;

  @media (min-width: $tablet-width) {
    padding-top: 64px;
    padding-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 60px;
    padding-bottom: 67px;
  }
}

.img-upload__form {
  background-color: $white-smoke;
  margin-bottom: 1px;

  @media (min-width: $desktop-width) {
    background-color: $white;
    margin-bottom: 28px;
  }
}

.img-upload__wrapper {
  padding-top: 20px;
  padding-bottom: 41px;

  @media (min-width: $tablet-width) {
    padding-top: 57px;
    padding-bottom: 53px;
  }

  @media (min-width: $desktop-width) {
    background-color: $white-smoke;
    padding: 57px 60px 57px 80px;
  }
}

.img-upload__preview-container {
  display: grid;
  row-gap: 39px;
  justify-items: center;

  @media (min-width: $tablet-width) {
    grid-template-columns: auto auto;
    column-gap: 34px;
    row-gap: initial;
  }

  @media (min-width: $desktop-width) {
    column-gap: 90px;
  }
}

.img-upload__preview {
  max-width: 400px;

  @media (min-width: $tablet-width) {
    min-width: 300px;
    grid-row-start: 1;
    grid-row-end: 3;
  }
}

.img-upload__preview-img {
  display: block;
}

.img-upload__controls {
  display: grid;
  row-gap: 12px;
  justify-items: center;
  align-self: end;

  @media (min-width: $tablet-width) {
    row-gap: 27px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr;
    column-gap: 44px;
  }
}

.img-upload__button {
  background-color: transparent;
  padding: 15px;
  max-width: 280px;

  @media (min-width: $tablet-width) {
    min-width: 260px;
  }

  @media (min-width: $desktop-width) {
    min-width: 183px;
  }

  &--submit {
    color: $cerise;
    border-color: $cerise;

    &:hover,
    &:focus {
      color: $white;
      background-color: $cerise;
    }

    &:active {
      color: rgba($white, 0.3);
    }
  }

  &--cancel {
    color: rgba($midnight, 0.1);
    border-color: rgba($midnight, 0.1);

    &:hover,
    &:focus {
      color: rgba($midnight, 0.3);
      border-color: rgba($midnight, 0.3);
    }

    &:active {
      color: rgba($white, 0.3);
      background-color: rgba($midnight, 0.3);
      border: none;
    }
  }
}
