.inner-page__header {
  background-color: $midnight;
  background-image: url("../../img/back-mobile.jpg");
  background-repeat: no-repeat;
  padding: 36px 0;
}

.inner-page__title {
  color: $white;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  margin: 0;
}

.inner-page__wrapper {
  padding-top: 54px;
  padding-bottom: 55px;
}

.inner-page__text {
  line-height: 30px;
  text-align: center;
  margin: 0;
}
