.inner-page__header {
  $about-shift: -66px;

  background-color: $midnight;
  background-image: url("../img/back-tablet.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: auto 462px;
  position: relative;
  top: $about-shift;
  margin-bottom: $about-shift;
  padding-top: 100px;
  padding-bottom: 50px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/back-tablet@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    $about-shift: -110px;

    background-size: auto 729px;
    top: $about-shift;
    margin-bottom: $about-shift;
    padding-top: 175px;
    padding-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/back-desktop.jpg");
    background-size: auto 853px;
    padding-top: 168px;
    padding-bottom: 80px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-desktop@2x.jpg");
    }
  }
}

.inner-page__title {
  color: $white;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 50px;
    line-height: 68px;
  }
}

.inner-page__wrapper {
  padding: 55px 0;

  @media (min-width: $tablet-width) {
    padding: 70px 65px;
    padding-top: 90px;
  }

  @media (min-width: $desktop-width) {
    padding: 80px 85px;
    padding-top: 90px;
  }

  br {
    @media (min-width: $tablet-width) {
      display: none;
    }

    @media (min-width: $desktop-width) {
      display: initial;
    }
  }
}

.inner-page__text {
  line-height: 30px;
  text-align: center;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }
}

.inner-page__additional {
  @include hidden-on-mobile;
}
