.inner-page__header {
  $about-shift: -66px;

  background-color: $midnight;
  background-image: url("../../img/back-tablet.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: auto 200%;
  position: relative;
  top: $about-shift;
  margin-bottom: $about-shift;
  padding-top: 100px;
  padding-bottom: 50px;

  @media (min-width: $tablet-width) {
    $about-shift: -110px;

    top: $about-shift;
    margin-bottom: $about-shift;
    padding-top: 175px;
    padding-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    background-image: url("../../img/back-desktop.jpg");
    background-size: auto 230%;
    padding-top: 168px;
    padding-bottom: 80px;
  }
}

.inner-page__title {
  color: $white;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 50px;
    line-height: 68px;
  }
}

.inner-page__wrapper {
  padding: 55px 0;

  @media (min-width: $tablet-width) {
    padding: 70px 65px;
    padding-top: 90px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 85px;
    padding-right: 85px;
  }
}

.inner-page__text {
  line-height: 30px;
  text-align: center;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }
}

.inner-page__additional {
  @include hidden-on-mobile;
}
