.menu {
  background-color: $midnight;

  @media (max-width: $tablet-width-only) {
    grid-column-start: 1;
    grid-column-end: 3;

    @include container-reset;
  }

  @media (min-width: $desktop-width) {
    background: none;
  }
}

.menu__list {
  @include list-reset;
}

.menu__item {
  border-bottom: 1px solid $black;
  box-shadow: inset 0 1px 0 rgba($white, 0.15);

  @media (min-width: $desktop-width) {
    border: none;
    box-shadow: none;
  }
}

.menu__link {
  color: $white;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  padding: 25px;

  @media (min-width: $desktop-width) {
    font-weight: normal;
    line-height: 18px;
    text-transform: none;
    display: inline;
    padding: 0;
  }
}
