.menu {
  background-color: $midnight;
  border-top: 1px solid $black;

  @media (max-width: $tablet-width-only) {
    &--closed {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    background: none;
    border: none;
  }
}

.menu__list {
  @include list-reset;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
}

.menu__item {
  border-top: 1px solid rgba($white, 0.15);
  border-bottom: 1px solid $black;

  @media (min-width: $desktop-width) {
    border: none;
    margin-left: 79px;

    &--active {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: -8px;
        left: 0;
        height: 2px;
        background: $white;
      }
    }
  }
}

.menu__link {
  color: $white;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  padding: 15px;

  &:hover,
  &:focus {
    color: $cerise;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $desktop-width) {
    font-weight: normal;
    line-height: 18px;
    text-transform: none;
    display: inline;
    padding: 0;

    &:active {
      color: $white;
    }
  }
}
