.page {
  height: 100%;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;
    overflow-x: hidden;
  }
}
