.plans {
  background-color: $white-smoke;
}

.plans__wrapper {
  padding-top: 83px;
  padding-bottom: 49px;

  @media (min-width: $tablet-width) {
    padding: 70px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 98px 0;
  }
}

.plans__list {
  @include list-reset;
  display: flex;
  flex-direction: row;

  @media (max-width: $mobile-width-only) {
    @include container-reset;
    overflow-x: scroll;
  }
}

.plans__legend {
  margin-top: auto;

  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.plans__item {
  @media (max-width: $mobile-width-only) {
    min-width: 276px;
  }

  @media (min-width: $tablet-width) {
    flex-grow: 1;
  }
}

.plans__header {
  background-color: $midnight;
  border: 2px solid $midnight;
  text-align: center;
  padding: 19px;
  padding-bottom: 35px;
}

.plans__title {
  color: $white;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
}

.plans__price {
  color: $white;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
}

.plans__feature {
  background-color: $white;
  border-bottom: 2px solid $whisper;
  margin: 0;
  padding: 20px;
}

.plans__feature-name {
  line-height: 30px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.plans__toggles {
  text-align: center;
  margin: 0;
  margin-top: 45px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
