.plans {
  background-color: $white-smoke;
}

.plans__wrapper {
  padding-top: 83px;
  padding-bottom: 49px;
}

.plans__list {
  @include list-reset;
}

.plans__header {
  background-color: $midnight;
  border: 2px solid $midnight;
  padding: 19px;
  padding-bottom: 35px;
}

.plans__title {
  color: $white;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 15px;
}

.plans__price {
  color: $white;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
}

.plans__feature {
  background-color: $white;
  border-bottom: 2px solid $whisper;
  margin: 0;
  padding: 20px;
}

.plans__feature-name {
  line-height: 30px;
  text-transform: uppercase;
}

.plans__toggles {
  margin: 0;
  margin-top: 45px;
}
