.plans {
  // background-color: $white-smoke;
  background-image: url("../../img/grey-background.svg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.plans__wrapper {
  padding-top: 128px;
  padding-bottom: 49px;

  @media (min-width: $tablet-width) {
    padding-top: 117px;
    padding-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 200px;
    padding-bottom: 98px;
  }
}

.plans__list {
  @include list-reset;
  display: flex;
  flex-direction: row;

  @media (max-width: $mobile-width-only) {
    @include container-reset;
    overflow-x: scroll;
  }
}

.plans__legend {
  margin-top: auto;

  @include hidden-on-mobile;
}

.plans__item {
  &:nth-of-type(3) {
    border-left: 2px solid $white-smoke;
    border-right: 2px solid $white-smoke;
  }

  @media (max-width: $mobile-width-only) {
    min-width: 276px;
  }

  @media (min-width: $tablet-width) {
    flex-grow: 1;
  }
}

.plans__header {
  background-color: $midnight;
  border-top: none;
  text-align: center;
  padding: 19px;
  padding-bottom: 35px;
  position: relative;
}

.plans__title {
  color: $white;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
}

.plans__price {
  color: $white;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
}

.plans__feature {
  background-color: $white;
  border: 2px solid $whisper;
  margin: -2px -2px 0 -2px;
  padding: 22px 22px 20px 22px;
}

.plans__feature-name {
  line-height: 30px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.plans__item--recommend {
  .plans__header {
    overflow: hidden;

    &::before {
      content: "Хит";
      position: absolute;
      top: 0;
      left: 0;
      width: 105px;
      font-size: 14px;
      line-height: 30px;
      text-align: center;
      text-transform: uppercase;
      color: $white;
      background-color: $cerise;
      transform: rotate(-45deg) translate(-26px, -13px);
    }
  }
}

.plans__toggles {
  text-align: center;
  margin: 0;
  margin-top: 45px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
