.post__preview {
  vertical-align: bottom;
}

.post__wrapper {
  padding: 25px 10px 25px 17px;
}

.post__info {
  margin: 0;
  margin-bottom: 3px;
}

.post__author {
  margin-right: 3px;
}

.post__time {
  font-weight: 300;
  text-transform: uppercase;
}

.post__content {
  margin: 0;
  margin-bottom: 18px;
}

.post__like {
  color: $cerise;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  cursor: pointer;
}
