.post__preview {
  vertical-align: bottom;
}

.post__wrapper {
  padding: 18px 10px;
  padding-left: 17px;
}

.post__info {
  margin: 0;
  margin-bottom: 2px;
}

.post__author {
  margin-right: 3px;
}

.post__time {
  font-weight: 300;
  text-transform: uppercase;
}

.post__content {
  margin: 0;
  margin-bottom: 11px;
}

.post__like {
  color: $cerise;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  display: grid;
  grid-template-columns: min-content max-content;
  column-gap: 18px;
  align-items: center;
}

.post__like-icon {
  width: 13px;
  height: 12px;
  background-image: url("../img/heart.svg");
  background-repeat: no-repeat;
}
