.research {
  @include hidden-on-mobile;

  @media (min-width: $desktop-width) {
    background-color: $white-smoke;
  }
}

.research__wrapper {
  padding: 54px 0;
  display: grid;
  grid-template-columns: 238px 1fr;
  column-gap: 72px;
  align-items: end;

  &::before {
    content: "";
    display: block;
    width: 238px;
    height: 276px;
    background-image: url("../img/stats.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media (min-width: $desktop-width) {
    padding: 67px 0;
    grid-template-columns: 298px 1fr;
    align-items: center;

    &::before {
      width: 298px;
      height: 345px;
    }
  }
}

.research__title {
  color: $black;
  font-size: 30px;
  line-height: 36px;
  margin: 0;
  margin-bottom: 24px;

  @media (min-width: $desktop-width) {
    br {
      display: none;
    }
  }
}

.research__text {
  margin: 0;
  margin-bottom: 24px;
}

.research__link {
  color: $cerise;
}
