.research {
  @include hidden-on-mobile;

  @media (min-width: $desktop-width) {
    background-color: $white-smoke;
  }
}

.research__wrapper {
  padding: 54px 0;
  display: grid;
  grid-template-columns: 238px 1fr;
  column-gap: 72px;
  align-items: end;

  &::before {
    content: "";
    display: block;
    width: 238px;
    height: 276px;
    background-image: url("../img/stats.png");
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/stats@2x.png");
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 28px;
    padding-bottom: 67px;
    grid-template-columns: 298px 1fr;

    &::before {
      width: 298px;
      height: 345px;
    }
  }
}

.research__content {
  padding-right: 10px;
  padding-bottom: 22px;

  @media (min-width: $desktop-width) {
    padding-right: 40px;
    padding-bottom: 45px;
  }
}

.research__title {
  color: $black;
  font-size: 30px;
  line-height: 36px;
  margin: 0;
  margin-bottom: 10px;

  @media (min-width: $desktop-width) {
    margin-bottom: 22px;
  }

  br {
    @include hidden-on-desktop;
  }
}

.research__text {
  margin: 0;
  margin-bottom: 10px;

  @media (min-width: $desktop-width) {
    margin-bottom: 30px;
  }

  br {
    @include hidden-on-desktop;
  }
}

.research__link {
  color: $cerise;
}
