.research {
  @media (max-width: $mobile-width-only) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    background-color: $white-smoke;
  }
}

.research__wrapper {
  padding: 54px 0;

  @media (min-width: $desktop-width) {
    padding: 115px 0;
  }
}

.research__title {
  color: $black;
  font-size: 30px;
  line-height: 36px;
  margin: 0;
  margin-bottom: 24px;
}

.research__text {
  margin: 0;
  margin-bottom: 24px;
}

.research__link {
  color: $cerise;
}
