.reviews__wrapper {
  padding: 50px 20px 60px;
}

.reviews__list {
  @include list-reset;
}

.reviews__item {
  text-align: center;
}

.reviews__author-name {
  color: $black;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 31px;
}

.reviews__text {
  line-height: 30px;
  margin: 0;
  margin-bottom: 44px;
}

.reviews__toggles {
  text-align: center;
  margin: 0;
}
