.reviews__wrapper {
  padding-top: 50px;
  // padding-bottom: 60px;

  @media (min-width: $tablet-width) {
    padding-top: 55px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 72px;
  }
}

.reviews__list {
  @include list-reset;

  @media (min-width: $desktop-width) {
    &::before {
      content: "";
      display: block;
      width: 79px;
      height: 63px;
      background-image: url("../../img/quotes.png");
      background-repeat: no-repeat;
      margin: 0 auto;
      margin-bottom: 58px;
    }
  }
}

.reviews__item {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.reviews__author-info {
  line-height: 30px;
  margin-bottom: 31px;

  @media (min-width: $tablet-width) {
    order: 1;
  }
}

.reviews__author-name {
  color: $black;
  font-weight: bold;
  font-size: 18px;
  display: block;

  @media (min-width: $desktop-width) {
    font-size: 24px;
  }
}

.reviews__author-age {
  @include hidden-on-mobile;
}

.reviews__text {
  line-height: 30px;
  margin: 0;
  margin-bottom: 44px;

  @media (min-width: $desktop-width) {
    padding: 0 126px;
  }
}

.reviews__controls {
  display: none;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.reviews__toggles {
  text-align: center;
  margin: 0;
}
