.reviews__wrapper {
  padding: 50px 20px 60px;

  @media (min-width: $desktop-width) {
    width: 940px;
    padding: 72px 0;
    margin: 0 auto;
  }
}

.reviews__list {
  @include list-reset;
}

.reviews__item {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.reviews__author-info {
  line-height: 30px;
  margin-bottom: 31px;

  @media (min-width: $tablet-width) {
    order: 1;
  }
}

.reviews__author-name {
  color: $black;
  font-weight: bold;
  font-size: 18px;
  display: block;
}

.reviews__author-age {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.reviews__text {
  line-height: 30px;
  margin: 0;
  margin-bottom: 44px;
}

.reviews__controls {
  display: none;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.reviews__toggles {
  text-align: center;
  margin: 0;
}
