.reviews__wrapper {
  padding-top: 50px;
  padding-bottom: 60px;

  // @media (min-width: $tablet-width) {
  // }

  // @media (min-width: $desktop-width) {
  // }
}

.reviews__list {
  @include list-reset;
}

.reviews__item {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.reviews__author-info {
  line-height: 30px;
  margin-bottom: 31px;

  @media (min-width: $tablet-width) {
    order: 1;
  }
}

.reviews__author-name {
  color: $black;
  font-weight: bold;
  font-size: 18px;
  display: block;
}

.reviews__author-age {
  @include hidden-on-mobile;
}

.reviews__text {
  line-height: 30px;
  margin: 0;
  margin-bottom: 44px;
}

.reviews__controls {
  display: none;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.reviews__toggles {
  text-align: center;
  margin: 0;
}
