.slider__controls {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.slider__control {
  width: 22px;
  height: 41px;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  padding: 0;
  cursor: pointer;
  opacity: 0.3;

  &--prev {
    background-image: url("../img/arrow-left.svg");
  }

  &--next {
    background-image: url("../img/arrow-right.svg");
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.1;
  }
}

.slider__toggles {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.slider__toggle {
  width: 6px;
  height: 6px;
  background-color: rgba($midnight, 0.3);
  border: none;
  border-radius: 50%;
  padding: 0;
  margin: 9px;
  box-sizing: content-box;
  cursor: pointer;

  &--current {
    background-color: $white;
    border: 3px solid $midnight;
    margin: 6px;
  }
}
