.social__list {
  @include list-reset;
  display: flex;
  max-width: 300px;
  flex-wrap: wrap;
  justify-content: center;
}

.social__item {
  margin: 4px;

  @media (min-width: $desktop-width) {
    margin: 3px;
  }
}

.social__link {
  display: block;
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  background-position: center;
  border: 3px solid rgba($midnight, 0.1);
  border-radius: 50%;

  &--twitter {
    background-image: url("../img/twitter.svg");
  }

  &--facebook {
    background-image: url("../img/facebook.svg");
  }

  &--youtube {
    background-image: url("../img/youtube.svg");
  }

  &:hover,
  &:focus {
    border-color: $midnight;
  }

  &:active {
    opacity: 0.3;
    border-color: rgba($midnight, 0.35);
  }
}
