.title {
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  margin: 0 auto;

  @media (max-width: $mobile-width-only) {
    max-width: 280px;
  }

  @media (min-width: $tablet-width) {
    font-size: 40px;
    line-height: 54px;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
    line-height: 68px;
  }
}
