// Global

@import "global/variables.scss";
@import "global/fonts.scss";
@import "global/global.scss";

// Blocks > common

@import "blocks/page.scss";
@import "blocks/body.scss";
@import "blocks/container.scss";
@import "blocks/title.scss";
@import "blocks/button.scss";
@import "blocks/header.scss";
@import "blocks/footer.scss";
@import "blocks/social.scss";
@import "blocks/copyright.scss";
@import "blocks/inner-page.scss";

// Blocks > index

@import "blocks/menu.scss";
@import "blocks/about.scss";
@import "blocks/download.scss";
@import "blocks/advantages.scss";
@import "blocks/research.scss";
@import "blocks/reviews.scss";
@import "blocks/plans.scss";
@import "blocks/contacts.scss";

// Blocks > form

@import "blocks/form.scss";
@import "blocks/field.scss";
@import "blocks/personal.scss";

// Blocks > catalog

@import "blocks/gallery.scss";
@import "blocks/post.scss";
@import "blocks/img-upload.scss";
@import "blocks/effects.scss";
